<h1>Listado de clubes</h1>

<table class="table table-striped">
  <tr>
    <th>Nombre</th>
    <th>Apodo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clubs.each do |club| %>
  <tr>
    <td><%= club.nombre %></td>
    <td><%= club.apodo %></td>
    <td><%= link_to 'Ver', club %></td>
    <td><%= link_to 'Editar', edit_club_path(club) %></td>
    <td><%= link_to 'Eliminar', club, method: :delete, data: { confirm: 'Está seguro que desea eliminar?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Club', new_club_path %>
