<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @club.nombre %>
</p>

<p>
  <b>Apodo:</b>
  <%= @club.apodo %>
</p>


<%= link_to 'Editar', edit_club_path(@club) %> |
<%= link_to 'Atrás', clubs_path %>
