<h1>Listado de jugadores</h1>

<form class="form-search" action="<%= url_for :controller => "jugadors", :action => "index"%>">
  <div class="input-prepend">
    <button type="submit" class="btn" >Buscar</button>
    <input type="text" class="span2 search-query" name="q" placeholder="nombre del jugador">
  </div>
</form>

<div align="right"><%= link_to 'Nuevo Jugador', new_jugador_path, :class => "btn btn-success" %></div>

<div class="pager pagination-centered">
<%= will_paginate @jugadors %> 
</div>


<table class="table table-striped">
  <tr>
    <th>Nombre</th>
    <th>Club</th>
    <th>Posición</th>
    <th>Situaci&oacute;n</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jugadors.each do |jugador| %>
  <tr>
    <td><%= jugador.nombres %></td>
    <td><%= jugador.club %></td>
    <td><%= jugador.posicion %></td>
    <td>
      <% if jugador.disponible then %> Disponible 
      <% else %> Elegido
      <% end %>
    </td>
    <td><%= link_to 'Ver', jugador, :class => "btn btn-success" %></td>
    <td><%= link_to 'Editar', edit_jugador_path(jugador), :class => "btn btn-primary" %></td>
    <td><%= link_to 'Eliminar', jugador, method: :delete, data: { confirm: 'Está seguro que desea eliminar?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Jugador', new_jugador_path, :class => "btn btn-success" %>