<form action="<%= url_for :controller =>  "equipos", :action => "agregar_jugadores" %>">

    <span class="label label-important">Jugadores elegidos hasta el momento: </span>
    <p class="lead">ARQUEROS</p>
    <ul>
    <% @arqueros = Jugador.where("posicion_id=? and disponible=?",  Posicion.where(:nombre => "ARQUERO").first.id, true) %>
    <% @arqueros.sort { |a,b| a[:club] <=> b[:club] } %>
    <% @arqueros.each do |j| %>
      <li>
        <input type="checkbox" name="<%= j.id %>" onClick="contar(<%=j.id%>)" id="<%= j.id %>"> (<%= j.club %>) - <%= j %><br>
      </li>
    <%end%>
    
    </ul>
    <p class="lead">DEFENSORES CENTRALES</p>
    <ul>
    <% @defensores_centrales = Jugador.where("posicion_id=? and disponible=?", Posicion.where(:nombre => "DEFENSOR CENTRAL").first.id, true) %>
    <% @defensores_centrales.sort { |a,b| a[:club] <=> b[:club] } %>
    <% @defensores_centrales.each do |j| %>
      <li>
        <input type="checkbox" name="<%= j.id %>" onClick="contar(<%=j.id%>)" id="<%= j.id %>"> (<%= j.club %>) - <%= j %><br>
      </li>
    <% end %>
    </ul>
      <p class="lead">DEFENSORES LATERALES</p>
    <ul>
    <% @defensores_laterales = Jugador.where("posicion_id=? and disponible=?", Posicion.where(:nombre => "DEFENSOR LATERAL").first.id, true)%>
    <% @defensores_laterales.sort { |a,b| a[:club] <=> b[:club] } %>
    <% @defensores_laterales.each do |j| %>
      <li>
        <input type="checkbox" name="<%= j.id %>" onClick="contar(<%=j.id%>)" id="<%= j.id %>"> (<%= j.club %>) - <%= j %><br>
      </li>
    <% end %>
    </ul>
    <p class="lead">VOLANTES CENTRALES</p>
    <ul>
    <% @volantes_centrales = Jugador.where("posicion_id=? and disponible=?",  Posicion.where(:nombre => "VOLANTE CENTRAL").first.id, true) %>
    <% @volantes_centrales.sort { |a,b| a[:club] <=> b[:club] } %>
    <% @volantes_centrales.each do |j| %>
      <li>
        <input type="checkbox" name="<%= j.id %>" onClick="contar(<%=j.id%>)" id="<%= j.id %>"> (<%= j.club %>) - <%= j %><br>
      </li>
    <% end %>
    </ul>
    <p class="lead">VOLANTES LATERALES</p>
    <ul>
    <% @volantes_laterales = Jugador.where("posicion_id=? and disponible=?",  Posicion.where(:nombre => "VOLANTE LATERAL").first.id, true) %>
    <% @volantes_laterales.sort { |a,b| a[:club] <=> b[:club] } %>
    <% @volantes_laterales.each do |j| %>
      <li>
        <input type="checkbox" name="<%= j.id %>" onClick="contar(<%=j.id%>)" id="<%= j.id %>"> (<%= j.club %>) - <%= j %><br>
      </li>
    <% end %>
    </ul>
    <p class="lead">DELANTEROS</p>
    <ul>
    <% @delanteros = Jugador.where("posicion_id=? and disponible=?", Posicion.where(:nombre => "DELANTERO").first.id, true) %>
    <% @delanteros.sort { |a,b| a[:club] <=> b[:club] } %>
    <% @delanteros.each do |j| %>
      <li>
        <input type="checkbox" name="<%= j.id %>" onClick="contar(<%=j.id%>)" id="<%= j.id %>"> (<%= j.club %>) - <%= j %><br>
      </li>
    <% end %>
    </ul>
    <input type="submit" name="cargar equipo" value="cargar equipo">
  </form>


  <!-- AGREGAR CONTADOR DE CHECKBOX SELECCIONADOS  -->

  <script type="text/javascript">
      var contador = 0;
      function contar(nameCheckbox) {
        
        var check = document.getElementById(nameCheckbox);

        if (check.checked){
          if (contador >= 25){
            check.checked = false; 
            alert("no puede elegir mas de 25 jugadores");                  
           }else{
            contador = contador + 1;   
           } 
          
        }else {
          contador = contador - 1;
        }
                
     }
  </script>
  
