<h1>Listado de equipos</h1>

<table class="table table-striped">
  <tr>
    <th>Nombre</th>
    <th>Participante</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @equipos.each do |equipo| %>
  <tr>
    <td><%= equipo.nombre %></td>
    <td><%= equipo.participante %></td>
    <td><%= link_to 'Ver', equipo %></td>
    <td><%= link_to 'Editar', edit_equipo_path(equipo) %></td>
    <td><%= link_to 'Eliminar', equipo, method: :delete, data: { confirm: 'Está seguro que desea eliminar?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Equipo', new_equipo_path %>
