<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @equipo.nombre %>
</p>

<p>
  <b>Participante:</b>
  <%= @equipo.participante %>
</p>


<div class="alert alert-info"><strong>ARQUEROS</strong></div>
<ul>
<% JugadorEquipo.where("equipo_id=?",  @equipo.id).each do |j|%>
  
  	<% if (j.jugador.posicion_id == Posicion.where(:nombre => "ARQUERO").first.id) then%>
   		<h5><li><%= j.jugador %><br></li></h5>
   	<% end %>
  
<% end %>
</ul>

<div class="alert alert-info"><strong>DEFENSORES CENTRALES</strong></div>
<ul>
<% JugadorEquipo.where("equipo_id=?",  @equipo.id).each do |j|%>
  
  	<% if (j.jugador.posicion_id == Posicion.where(:nombre => "DEFENSOR CENTRAL").first.id) then%>
   		<h5><li><%= j.jugador %>  <br></li></h5>
   	<% end %>
  
<% end %>
</ul>

<div class="alert alert-info"><strong>DEFENSORES LATERALES</strong></div>
<ul>
<% JugadorEquipo.where("equipo_id=?",  @equipo.id).each do |j|%>
  
  	<% if (j.jugador.posicion_id == Posicion.where(:nombre => "DEFENSOR LATERAL").first.id) then%>
   		<h5><li><%= j.jugador %><br></li></h5>
   	<% end %>
  
<% end %>
</ul>

<div class="alert alert-info"><strong>VOLANTES CENTRALES</strong></div>
<ul>
<% JugadorEquipo.where("equipo_id=?",  @equipo.id).each do |j|%>
  
  	<% if (j.jugador.posicion_id == Posicion.where(:nombre => "VOLANTE CENTRAL").first.id) then%>
   		<h5><li><%= j.jugador %><br></li></h5>
   	<% end %>
 
<% end %>
</ul>

<div class="alert alert-info"><strong>VOLANTES LATERALES</strong></div>
<ul>
<% JugadorEquipo.where("equipo_id=?",  @equipo.id).each do |j|%>
  
  	<% if (j.jugador.posicion_id == Posicion.where(:nombre => "VOLANTE LATERAL").first.id) then%>
   		<h5><li><%= j.jugador %><br></li></h5>
   	<% end %>
  
<% end %>
</ul>

<div class="alert alert-info"><strong>DELANTEROS</strong></div>
<ul>
<% JugadorEquipo.where("equipo_id=?",  @equipo.id).each do |j|%>
  
  	<% if (j.jugador.posicion_id == Posicion.where(:nombre => "DELANTERO").first.id) then%>
   		<h5><li><%= j.jugador %><br></li></h5>
   	<% end %>
  
<% end %>
</ul>


<%= link_to 'Editar', edit_equipo_path(@equipo) %> |
<%= link_to 'Atrás', equipos_path %>
