<p id="notice"><%= notice %></p>



<h2><div class="alert alert-info" align="center"><strong><p><%= @equipo.nombre %></p></strong></div></h2>
  
<a class="btn btn-success btn-large" href="<%=url_for "equipos"%>/<%=@equipo.id%>">
   Armar equipo fecha actual
</a>

<table class="table">
  
<tr class="success"><td colspan="3"> <h5>ARQUEROS</h5></td></tr>
<ul>
    <% JugadorEquipo.where("equipo_id=?",  @equipo.id).each do |j|%>  
      <% if (j.jugador.posicion_id == Posicion.where(:nombre => "ARQUERO").first.id) then%>
        <tr>
          <td><h5><li><%= j.jugador %><br></li></h5></td>
          <td><h5><%= j.jugador.club %><br></h5></td>
        </tr>
      <% end %>  
    <% end %>
</ul>

<tr class="success"><td colspan="3"> <h5>DEFENSORES CENTRALES</h5></td></tr>
<ul>
    <% JugadorEquipo.where("equipo_id=?",  @equipo.id).each do |j|%>  
      <% if (j.jugador.posicion_id == Posicion.where(:nombre => "DEFENSOR CENTRAL").first.id) then%>
        <tr>
          <td><h5><li><%= j.jugador %><br></li></h5></td>
          <td><h5><%= j.jugador.club %><br></h5></td>
        </tr>
      <% end %>  
    <% end %>
</ul>

<tr class="success"><td colspan="3"> <h5>DEFENSORES LATERALES</h5></td></tr>
<ul>
    <% JugadorEquipo.where("equipo_id=?",  @equipo.id).each do |j|%>  
      <% if (j.jugador.posicion_id == Posicion.where(:nombre => "DEFENSOR LATERAL").first.id) then%>
        <tr>
          <td><h5><li><%= j.jugador %><br></li></h5></td>
          <td><h5><%= j.jugador.club %><br></h5></td>
        </tr>
      <% end %>  
    <% end %>
</ul>

<tr class="success"><td colspan="3"> <h5>VOLANTES CENTRALES</h5></td></tr>
<ul>
    <% JugadorEquipo.where("equipo_id=?",  @equipo.id).each do |j|%>  
      <% if (j.jugador.posicion_id == Posicion.where(:nombre => "VOLANTE CENTRAL").first.id) then%>
        <tr>
          <td><h5><li><%= j.jugador %><br></li></h5></td>
          <td><h5><%= j.jugador.club %><br></h5></td>
        </tr>
      <% end %>  
    <% end %>
</ul>

<tr class="success"><td colspan="3"> <h5>VOLANTES LATERALES</h5></td></tr>
<ul>
    <% JugadorEquipo.where("equipo_id=?",  @equipo.id).each do |j|%>  
      <% if (j.jugador.posicion_id == Posicion.where(:nombre => "VOLANTE LATERAL").first.id) then%>
        <tr>
          <td><h5><li><%= j.jugador %><br></li></h5></td>
          <td><h5><%= j.jugador.club %><br></h5></td>
        </tr>
      <% end %>  
    <% end %>
</ul>

<tr class="success"><td colspan="3"> <h5>DELANTEROS</h5></td></tr>
<ul>
    <% JugadorEquipo.where("equipo_id=?",  @equipo.id).each do |j|%>  
      <% if (j.jugador.posicion_id == Posicion.where(:nombre => "DELANTERO").first.id) then%>
        <tr>
          <td><h5><li><%= j.jugador %><br></li></h5></td>
          <td><h5><%= j.jugador.club %><br></h5></td>
        </tr>
      <% end %>  
    <% end %>
</ul>
</table>




<%= link_to 'Editar', edit_equipo_path(@equipo) %> |
<%= link_to 'Atrás', equipos_path %>
