  <li>
    <span class="roleDescription"><%= current_role.description %></span>
    <span class="roleCommands">[<%= link_to 'Ver', current_role %> -
    <%= link_to 'Editar', edit_role_path(current_role) %> -
    <%= link_to 'Eliminar', current_role, confirm: 'Está seguro que desea eliminar?', method: :delete %>]
    </span>
  </li>
  <%= the_children %>