<%= form_for(@participante) do |f| %>
  <% if @participante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participante.errors.count, "error") %> prohibited this participante from being saved:</h2>

      <ul>
      <% @participante.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :apodo %><br />
    <%= f.text_field :apodo %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select(:user_id, User.all, :id, :email)  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
