<!DOCTYPE html>
<html>
<head>
  <title>Gran DT</title>
  <%= stylesheet_link_tag    'application' %>
  <%= stylesheet_link_tag    params[:controller] %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>


<body>

<div id="navbar-example" class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container" style="width: auto;">
      <a class="brand" href="<%= url_for root_path %>">GranDT TW</a>
      <ul class="nav" role="navigation">
       	
       	<% if user_signed_in? then %>

       	<!-- ACCESO USUARIO Y ADMIN-->
        <% if ((current_user.role? :admin) || (current_user.role? :participante))then %>
        
        	<% @participante = Participante.find(current_user.id) %>
        	<% @equipo = Equipo.where(:participante_id => @participante.id).first %>
	        <li class="dropdown">
	          <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Mi GranDT<b class="caret"></b></a>
	          <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
	            <li><%=link_to "Equipos", equipos_path, :tabindex => "-1"%></li>
	            <li><%=link_to "Elegir Libre", :tabindex => "-1"%></li>
	          </ul>
	        </li>

	        <li class="dropdown">
	          <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Equipo por Fecha<b class="caret"></b></a>
	          <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
	            <li><%=link_to "Fecha 1", :tabindex => "-1"%></li>
	            <li><%=link_to "Fecha 2", :tabindex => "-1"%></li>
	            <li><%=link_to "Fecha 3", :tabindex => "-1"%></li>
	            <li><%=link_to "Fecha 4", :tabindex => "-1"%></li>
	            <li><%=link_to "Fecha 5", :tabindex => "-1"%></li>
	            <li><%=link_to "Fecha 6", :tabindex => "-1"%></li>
	            <li><%=link_to "Fecha 7", :tabindex => "-1"%></li>
	            <li><%=link_to "Fecha 8", :tabindex => "-1"%></li>
	            <li><%=link_to "Fecha 9", :tabindex => "-1"%></li>
	            <li><%=link_to "Fecha 10", :tabindex => "-1"%></li>
	            <li><%=link_to "Fecha 11", :tabindex => "-1"%></li>
	            <li><%=link_to "Fecha 12", :tabindex => "-1"%></li>
	            <li><%=link_to "Fecha 13", :tabindex => "-1"%></li>
	            <li><%=link_to "Fecha 14", :tabindex => "-1"%></li>
	            <li><%=link_to "Fecha 15", :tabindex => "-1"%></li>
	            <li><%=link_to "Fecha 16", :tabindex => "-1"%></li>
	            <li><%=link_to "Fecha 17", :tabindex => "-1"%></li>
	            <li><%=link_to "Fecha 18", :tabindex => "-1"%></li>
	            <li><%=link_to "Fecha 19", :tabindex => "-1"%></li>
	          </ul>
	        </li>

	    <% end %>
    
       	
       	 <!-- ACCESO ADMINISTRADOR-->
        <% if current_user.role? :admin then %>
        	                
        
	        <li class="dropdown">
	          <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Configuraci&oacute;n <b class="caret"></b></a>
	          <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
	           	<li><%=link_to "Clubes", clubs_path, :tabindex => "-1"%></li>
	            <li><%=link_to "Equipos", equipos_path, :tabindex => "-1"%></li>
	            <li><%=link_to "Estados", estados_path, :tabindex => "-1"%></li> 
	            <li><%=link_to "Fechas", fechas_path, :tabindex => "-1"%></li>
	            <li><%=link_to "Jugadores", jugadors_path, :tabindex => "-1"%></li>
	            <li><%=link_to "Participantes", participantes_path, :tabindex => "-1"%></li>
	            <li><%=link_to "Posiciones", posicions_path, :tabindex => "-1"%></li>
	            <li><%=link_to "Roles", roles_path, :tabindex => "-1"%></li> 
	            <li><%=link_to "Tácticas", tacticas_path, :tabindex => "-1"%></li> 
	            <li><%=link_to "Usuarios", users_path, :tabindex => "-1"%></li>         
	          </ul>
	        </li>
	        <% end %>
        <% end %>
      </ul>

      
      <!-- INFORMACION DE LOGGING -->
      <ul class="nav pull-right">
        <li id="fat-menu" class="dropdown">
          <% if user_signed_in? %>
	          <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Bienvenido: <%= current_user.email %> <b class="caret"></b></a>
	          <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
	          	<li><%=link_to "Mi cuenta", edit_user_registration_path, :tabindex => "-1"%></li>
	            <li class="divider"></li>
	            <li><%= link_to 'Salir', destroy_user_session_path, :method => :delete, :tabindex => "-1" %></li>            
	          </ul>
	      <% else %>
	          <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">No ha iniciado sesion<b class="caret"></b></a>
	          <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
	          	<li><%= link_to "Iniciar Sesion", new_user_session_path , :tabindex => "-1" %></li> 
	          	<li class="divider"></li>
	            <li><%= link_to "Registrar", new_user_registration_path, :tabindex => "-1"%></li>           
	          </ul>
		  <% end %>
        </li>
      </ul>
	 
      
          
    </div>
  </div>
</div> 									

<div class="row"> 
	<div class="span1">
		
	</div>
	<div class="span11">
		<div class="container">
		   <% if flash[:error] then %>
		   	<div class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<h4>Error!</h4>
				<%= flash[:error]%>
    		</div>
		   <% end %>
		   <% if alert then %>
       		<div class="alert alert-block">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<h4>Advertencia!</h4>
				<%= alert %>
			</div>	       		
		   <% end %>
		   <% if notice then%>   
		       <div class="alert alert-info">
    				<%= notice%>
    		   </div>
    	   <% end %>
		   <%= yield %>
		      

		</div>
	</div>
</div>

</body>
</html>
